#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>

<!-- 从高到地低 OFF 、 FATAL 、 ERROR 、 WARN 、 INFO 、 DEBUG 、 TRACE 、 ALL -->
<!-- 日志输出规则  根据当前ROOT 级别，日志输出时，级别高于root默认的级别时  会输出 -->
<!-- 以下  每个配置的 filter 是过滤掉输出文件里面，会出现高级别文件，依然出现低级别的日志信息，通过filter 过滤只记录本级别的日志-->


<!-- 属性描述 scan：性设置为true时，配置文件如果发生改变，将会被重新加载，默认值为true scanPeriod:设置监测配置文件是否有修改的时间间隔，如果没有给出时间单位，默认单位是毫秒。当scan为true时，此属性生效。默认的时间间隔为1分钟。
    debug:当此属性设置为true时，将打印出logback内部日志信息，实时查看logback运行状态。默认值为false。 -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <contextName>${symbol_dollar}{HOSTNAME}</contextName>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>./logs/%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 日志最大的历史 15天 -->
            <maxHistory>15</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %mdc{globalMsgId} %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DING" class="cn.yzw.framework.core.ding.DingErrorAppender">
        <remoteUrl>https://oapi.dingtalk.com/robot/send?access_token=e3abbefb176d5bec4adb9746ff861b72d804378e61f389c3136d0d836c595f55</remoteUrl>
        <subject>[PRD]${parentArtifactId}-Api应用异常，请到ELK查看错误详情！</subject>
        <period>30000</period>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <appender name="KAFKA" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <encoder class="com.github.danielwegener.logback.kafka.encoding.LayoutKafkaMessageEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${parentArtifactId}-API||%contextName||%-5level||%logger||%d{yyyy-MM-dd HH:mm:ss}||[%thread] - %msg%n</pattern>
            </layout>
        </encoder>
        <topic>framework-log</topic>
        <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.RoundRobinKeyingStrategy" />
        <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy" />
        <producerConfig>bootstrap.servers=kafka01:9092,kafka02:9092,kafka03:9092</producerConfig>
    </appender>

    <root level="INFO">
        <appender-ref ref="DING" />
        <appender-ref ref="KAFKA" />
        <appender-ref ref="FILE" />
    </root>
</configuration>