#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <property name="LOG_PATH" value="./logs"/>
    <!-- 正常的INFO日志 -->
    <property name="LOG_FILE" value="info.log"/>
    <!-- 过滤错误日志 -->
    <property name="LOG_ERROR_FILE" value="error.log"/>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %mdc{globalMsgId} %logger{50} - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>
    <!--Info 日志相关 -->
    <appender name="InfoFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${symbol_dollar}{LOG_PATH}/${symbol_dollar}{LOG_FILE}</File>
        <Append>true</Append>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %mdc{globalMsgId} %logger{50} - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${symbol_dollar}{LOG_PATH}/${symbol_dollar}{LOG_FILE}.%d{yyyy-MM-dd }</fileNamePattern>
            <maxHistory>10</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>
    <!--Error 日志相关 -->
    <appender name="ErrorFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${symbol_dollar}{LOG_PATH}/${symbol_dollar}{LOG_ERROR_FILE}</File>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %mdc{globalMsgId} %logger{50} - %msg%n</pattern>
            <charset>utf8</charset>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${symbol_dollar}{LOG_PATH}/${symbol_dollar}{LOG_ERROR_FILE}.%d{yyyy-MM-dd }</fileNamePattern>
            <maxHistory>10</maxHistory>
            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>
    <!--输出日志到ELK相关 -->
    <appender name="KAFKA" class="com.github.danielwegener.logback.kafka.KafkaAppender">
        <encoder class="com.github.danielwegener.logback.kafka.encoding.LayoutKafkaMessageEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %mdc{globalMsgId} %logger{36} - %msg%n</pattern>
            </layout>
        </encoder>
        <topic>framework-log</topic>
        <keyingStrategy class="com.github.danielwegener.logback.kafka.keying.RoundRobinKeyingStrategy" />
        <deliveryStrategy class="com.github.danielwegener.logback.kafka.delivery.AsynchronousDeliveryStrategy" />
        <producerConfig>bootstrap.servers=172.16.0.239:9092</producerConfig>
    </appender>

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="InfoFile"/>
        <appender-ref ref="ErrorFile"/>
        <!--<appender-ref ref="KAFKA"/>-->
    </root>
</configuration>