#set( $symbol_pound = '#' )
#set( $symbol_dollar = '$' )
#set( $symbol_escape = '\' )
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>云筑网-区块链网络(beta)</title>

</head>
<body class="layui-layout-body">
<span th:inline="text">[[${symbol_dollar}{name}]]'s rating: [[${symbol_dollar}{score}]]</span>
</body>
</html>